alabaster==0.7.12
asn1crypto==0.24.0
Babel==2.6.0
beautifulsoup4==4.7.0
certifi==2018.11.29
chardet==3.0.4
cryptography==3.2
docutils==0.14
enum34==1.1.6
# html5lib==0.999999999
idna==2.8
imagesize==1.1.0
ipaddress==1.0.22
Jinja2==2.10.1
keyring==17.1.1
keyrings.alt==3.1.1
lxml==4.2.5
MarkupSafe==1.1.0
numpy==1.14.2
olefile==0.46
Pillow==8.1.1
pycrypto==2.6.1
Pygments==2.3.1
pyOpenSSL==18.0.0
pytz==2018.3
pyxdg==0.26
requests==2.21.0
roman==3.1
scour==0.37
SecretStorage==3.1.0
six==1.11.0
Sphinx==1.8.5
sphinx-rtd-theme==0.4.3
sphinxcontrib-autoprogram==0.1.5
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-plantuml==0.14
urllib3==1.24.2
webencodings==0.5.1
sphinxcontrib-openapi==0.5.0
